<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePath</key>
	<string>/data/2.5</string>
	<key>definitions</key>
	<dict>
		<key>CityForecastModel</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>city</key>
				<dict>
					<key>type</key>
					<string>string</string>
				</dict>
				<key>lat</key>
				<dict>
					<key>type</key>
					<string>string</string>
				</dict>
				<key>lon</key>
				<dict>
					<key>type</key>
					<string>string</string>
				</dict>
			</dict>
			<key>type</key>
			<string>object</string>
		</dict>
		<key>ErrorObject</key>
		<dict>
			<key>properties</key>
			<dict>
				<key>code</key>
				<dict>
					<key>format</key>
					<string>int32</string>
					<key>type</key>
					<string>integer</string>
				</dict>
				<key>message</key>
				<dict>
					<key>type</key>
					<string>string</string>
				</dict>
			</dict>
			<key>type</key>
			<string>object</string>
		</dict>
	</dict>
	<key>protocol</key>
	<string>https</string>
	<key>host</key>
	<string>api.openweathermap.org</string>
	<key>info</key>
	<dict>
		<key>description</key>
		<string>We are a provider of high-quality weather data</string>
		<key>title</key>
		<string>OpenWeatherMap - REST API</string>
		<key>version</key>
		<string>2.5</string>
	</dict>
	<key>paths</key>
	<dict>
		<key>/forecast</key>
		<dict>
			<key>get</key>
			<dict>
				<key>consumes</key>
				<array>
					<string>application/json</string>
				</array>
				<key>description</key>
				<string>&lt;p&gt;Retrieve 5 Days Forecast for Given City&lt;/p&gt;</string>
				<key>operationId</key>
				<string>forecastGET</string>
				<key>produces</key>
				<array>
					<string>application/json</string>
				</array>
				<key>responses</key>
				<dict>
					<key>200</key>
					<dict>
						<key>description</key>
						<string>OK</string>
						<key>schema</key>
						<dict>
							<key>$ref</key>
							<string>#/definitions/CityForecastModel</string>
						</dict>
					</dict>
					<key>401</key>
					<dict>
						<key>description</key>
						<string>Failed to authenticate user</string>
						<key>schema</key>
						<dict>
							<key>$ref</key>
							<string>#/definitions/ErrorObject</string>
						</dict>
					</dict>
					<key>403</key>
					<dict>
						<key>description</key>
						<string>Failed to authenticate user</string>
						<key>schema</key>
						<dict>
							<key>$ref</key>
							<string>#/definitions/ErrorObject</string>
						</dict>
					</dict>
					<key>404</key>
					<dict>
						<key>description</key>
						<string>Not Found</string>
					</dict>
					<key>500</key>
					<dict>
						<key>description</key>
						<string>Internal Server Error</string>
						<key>schema</key>
						<dict>
							<key>$ref</key>
							<string>#/definitions/ErrorObject</string>
						</dict>
					</dict>
				</dict>
				<key>summary</key>
				<string>Retrieve city 5 days forecast</string>
				<key>tags</key>
				<array>
					<string>City 5 Days Forecast</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>securityDefinitions</key>
	<dict>
		<key>Authorization</key>
		<dict>
			<key>in</key>
			<string>header</string>
			<key>name</key>
			<string>Authorization</string>
			<key>type</key>
			<string>apiKey</string>
		</dict>
		<key>AuthorizationDetails</key>
		<dict>
			<key>scheme</key>
			<string>headerScheme</string>
			<key>headerDefinition</key>
			<dict>
				<key>key</key>
				<string>appid</string>
				<key>valueFormat</key>
				<string>%@</string>
				<key>value</key>
				<dict>
					<key>schema</key>
					<dict>
						<key>items</key>
						<dict>
							<key>codeMorcel</key>
							<string>UserToken.token</string>
						</dict>
						<key>type</key>
						<string>source</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>swagger</key>
	<string>2.0</string>
	<key>tags</key>
	<array>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>User Preferences</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Users</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Clinical Advices</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Google Cloud Messaging</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Locations</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Bowels</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Shifts</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Tasks</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Care Contexts</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Dashboards</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Patients</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Application Information</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Clinical Services</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Lookup Instances</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Authentication</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Bed Spaces</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Health Care Professionals</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Controller</string>
			<key>name</key>
			<string>Vital Signs</string>
		</dict>
	</array>
</dict>
</plist>
